*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
    font-family: 'Chivo Mono', monospace;
    font-family: 'Poppins', sans-serif;
}
header{
    display:flex;
    justify-content:space-between;
    background-color:#faa361;
    align-items:center;
    padding:0 3rem;
    color:#fff;
    height:50px;
    
}
nav ul a{
    text-decoration:none;

}
ul{
    list-style:none;
}
.mainmenu{
    display: flex;
}
.mainmenu a
{
    color: #fff;
    padding: 1rem;
}
.mainmenu li
{
    position: relative;
}
.submenu,.submenu2{
    position:absolute;
    background-color: #faa361;
    width:120px;
    top:34px;
    left:0px;
    display:none;
}
.submenu2{
    background-color: #3b5998;
    left: inherit;
    right: -120px;
    top: 0;
}

.submenu li a
{
    width: 100%;
    border-bottom: 2px solid #fff;
    display: block;
}

.submenu li a :hover
{
    background-color: #000;
    color: #fff;
}
.mainmenu li:hover > ul
{
    display: block;
}
section h1{
    font-weight:400;
    text-align:center;
    margin:4rem 0;
   
}
section .space{
    margin:2rem 2rem;
    font-weight:300px;
    font-size:1rem;
    line-height:2rem;
    word-spacing:0.6rem;
}
.box{
    border:2px solid;
    height:450px;
    width:380px;
    padding:1rem;
    
}
#threeboxes{
    display:flex;
    justify-content:space-between;
    margin:0 9rem;
    
   
}
.equal{
    display:flex;
    margin:1rem;
}
img{
    border-radius:50%;
    height:60px;
    width:60px;
}
/* section div span{
    display:block;
    margin-top:2rem 0;


} */
.text{
    text-transform: capitalize;
}
.up{
    display:inline-block;
    margin-bottom:0 1.5rem;
}
h3{
    margin-left:2rem;
}
section div P
{
line-height:2rem;
margin:2rem 0 2rem 1rem;
word-spacing:1rem;
font-weight:300;
font-size:1rem;

}
button{
    position:fixed;
    background-color:black;
    color:#fff;
    padding:0.6rem;
    margin:0  0.5rem;
}