/* body{
    background-color:rgba(255,0,0,0.1);
    background-image:url(arun/slider2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
} */
/* body{
background: url(arun/slider2.jpg) no-repeat fixed center / cover ;
} */
/* ul{
    list-style-type:none ;
    list-style-image:url(arun/marker.png);
    list-style-position: inside;
    

} */
/* ul{
    list-style: square url(arun/marker.png) outside;
} */
/* body{
    background-image:url(arun/marker.png);
    
    

} */
/* .box{
    border: solid;
    /* background-color:pink; */
    /* border-width:5px 20px  0px; */
    border-right: 5px red;
    /* border-style:dashed; */
} */
section{
    background-image: url(arun/anita-austvika-58Hygw0bS-M-unsplash.jpg);
    height:100%;
    /* background-position: center; */
}
.red{
    background-color:rgb(162, 74, 74)
}
/* .box{
    border: solid;
    border-left:1px red dotted;
} */
.box{

    border-style:solid;
    border-width:5px 10px;
    margin:20px 50px 70px 100px;
    padding:5px 6px 30px
}