
p{
    background-color:#0000ff;
}
section{
    background-image:url(arun/anita-austvika-58Hygw0bS-M-unsplash.jpg);
    height:500px;
    width:500px;
}
background-color
background-image
background-repeat
background-attachement
background-position
background-size
