.red{
    background-color:pink;
    color:white;
}

.green{
    background-color:pink;
    color:white;
    font-size:20px;
    
}
 section{
    background-image:url(arun/anita-austvika-58Hygw0bS-M-unsplash.jpg);
    height: 400px;
    
    } 

